.Logo {
    padding: 8px;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}

.Logo img {
    height: 100%;
    padding-right: 10px;
    margin-right: 5px;
    border-right: 1px solid lightgrey;
}

